version: '3'

services:
  hugo:
    build:
      context: ../.devcontainer
      dockerfile: Dockerfile.dev
      args:
        USER_UID: ${USER_UID:-1000}
    volumes:
      - ../:/workspace/hugo:cached
    init: true
    command: [ 'sleep', 'infinity' ]

networks:
  default:
    name: hugo
